* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: "Krub", "sans-serif";
    font-size: 14px;
  }

  /*Header */
  .header-rectangle {
    padding-top: 0;
  }

  .nav-container {
    background-color: #2E322D;
  }

  .image-container {
    position: relative; /* Make the container a reference for absolute positioning */
  }
  
  .image-container img {
    position: absolute; /* Position the images absolutely */
    top: 0; /* Adjust the top position as needed */
    left: 0; /* Adjust the left position as needed */
    z-index: 1; /* Set the stacking order; higher values are on top */
  }
  
  /* Adjust the positioning for the second image to overlay the first one */
  .image-container img:nth-child(2) {
    left: 20px; /* Adjust the left position to overlay */
    z-index: 2; /* Place the second image above the first one */
  }

  .picture-1 {
    position: absolute;
    left: 1000px
  }

  .abt-us-text {
    position: absolute;
    top: 190px;
    left: 20px;
  }

  #text {
    position: absolute;
    top: 725px;
  }

  #reviews {
    position: absolute;
    top: 900px;

  }
  
  /* Buttons */

  .nav-ite




 /*.v2227_40 {
    width: 100%;
    height: 2168px;
    background: rgba(45,50,44,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2255_17 {
    width: 100%;
    height: 2168px;
    background: url("../images/v2255_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 148px;
    overflow: hidden;
  }
  .v2227_41 {
    width: 100%;
    height: 524px;
    background: url("../images/v2227_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1179px;
    left: 148px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v2227_42 {
    width: 100%;
    height: 486px;
    background: url("../images/v2227_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v2227_44 {
    width: 100%;
    height: 59px;
    background: rgba(23,159,189,1);
    opacity: 1;
    position: absolute;
    top: 599px;
    left: 148px;
    overflow: hidden;
  }
  .v2226_31 {
    width: 100%;
    height: 59px;
    background: rgba(66,67,66,1);
    opacity: 1;
    position: absolute;
    top: 841px;
    left: 148px;
    overflow: hidden;
  }
  .v2226_79 {
    width: 471px;
    height: 288px;
    background: rgba(75,40,119,1);
    opacity: 1;
    position: absolute;
    top: 1278px;
    left: 170px;
  }
  .v2227_63 {
    width: 100%;
    height: 323px;
    background: rgba(79,188,223,1);
    opacity: 1;
    position: absolute;
    top: 1845px;
    left: 148px;
    overflow: hidden;
  }
  .v2227_45 {
    width: 100%;
    height: 103px;
    background: rgba(27,158,199,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 148px;
  }
  .v2255_18 {
    width: 239px;
    height: 54px;
    background: url("../images/v2255_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 447px;
    left: 114px;
    overflow: hidden;
  }
  .v2225_17 {
    width: 128px;
    height: 49px;
    background: rgba(154,81,189,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 55px;
  }
  .v2227_57 {
    width: 239px;
    color: rgba(249,214,235,1);
    position: absolute;
    top: 7px;
    left: 0px;
    font-family: Krub;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2255_16 {
    width: 981px;
    height: 222px;
    background: url("../images/v2255_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 24px;
    overflow: hidden;
  }
  .v2227_47 {
    width: 295px;
    color: rgba(92,166,189,1);
    position: absolute;
    top: 89px;
    left: 350px;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2227_48 {
    width: 137px;
    height: 31px;
    background: url("../images/v2227_48.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 189px;
    left: 100px;
    overflow: hidden;
  }
  .v2227_49 {
    width: 137px;
    height: 31px;
    background: url("../images/v2227_49.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 191px;
    left: 763px;
    overflow: hidden;
  }
  .v2227_50 {
    width: 137px;
    height: 31px;
    background: url("../images/v2227_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 189px;
    left: 429px;
    overflow: hidden;
  }
  .v2227_51 {
    width: 298px;
    color: rgba(91,165,189,1);
    position: absolute;
    top: 92px;
    left: 683px;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2227_62 {
    width: 337px;
    color: rgba(92,166,189,1);
    position: absolute;
    top: 92px;
    left: 0px;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2227_61 {
    width: 404px;
    color: rgba(142,239,221,1);
    position: absolute;
    top: 0px;
    left: 296px;
    font-family: Krub;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2255_19 {
    width: 100%;
    height: 837px;
    background: url("../images/v2255_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 713px;
    left: 20px;
    overflow: hidden;
  }
  .v2226_28 {
    width: 481px;
    color: rgba(224,244,255,1);
    position: absolute;
    top: 561px;
    left: 0px;
    font-family: Krub;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2226_30 {
    width: 515px;
    color: rgba(224,244,255,1);
    position: absolute;
    top: 664px;
    left: 502px;
    font-family: Krub;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2226_32 {
    width: 436px;
    color: rgba(224,244,255,1);
    position: absolute;
    top: 648px;
    left: 23px;
    font-family: Krub;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v2226_80 {
    width: 868px;
    color: rgba(215,231,247,1);
    position: absolute;
    top: 0px;
    left: 94px;
    font-family: Krub;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2250_113 {
    width: 607px;
    height: 555px;
    background: url("../images/v2250_113.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 10px;
    overflow: hidden;
  }
  .v2227_60 {
    width: 160px;
    color: rgba(75,40,119,1);
    position: absolute;
    top: 83px;
    left: 302px;
    font-family: Krub;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2227_59 {
    width: 161px;
    color: rgba(75,40,119,1);
    position: absolute;
    top: 83px;
    left: 446px;
    font-family: Krub;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v2225_19 {
    width: 220px;
    color: rgba(214,232,253,1);
    position: absolute;
    top: 25px;
    left: 116px;
    font-family: Krub;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v2226_41 {
    width: 133px;
    height: 137px;
    background: url("../images/v2226_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2227_58 {
    width: 197px;
    color: rgba(249,214,235,1);
    position: absolute;
    top: 526px;
    left: 145px;
    font-family: Krub;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
  }
  .v2250_114 {
    width: 100%;
    height: 847px;
    background: url("../images/v2250_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 0px;
    overflow: hidden;
  }
  .v2226_26 {
    width: 994px;
    height: 179px;
    background: rgba(74,40,119,1);
    opacity: 1;
    position: absolute;
    top: 342px;
    left: 0px;
    overflow: hidden;
  }
  .v2227_70 {
    width: 404px;
    color: rgba(224,243,255,1);
    position: absolute;
    top: 356px;
    left: 32px;
    font-family: Krub;
    font-weight: Light Italic;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v2227_56 {
    width: 757px;
    height: 847px;
    background: url("../images/v2227_56.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 545px;
    border-radius: 50%;
  }
  .v2250_96 {
    width: 429px;
    height: 89px;
    background: rgba(45,50,44,1);
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 614px;
    overflow: hidden;
  }
  {